.intro {
  // Default is a single column layout where the header overlaps the media
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: get-size('500');

  // Force items to span 1 column
  > * {
    grid-column: 1;
  }

  &__header {
    padding: get-size('300') get-size('500');
    background: rgba(get-color('tertiary'), 0.95);
    z-index: 1;
    grid-row: 2;
    margin: 0 get-size('500'); // Adds a horizontal gutter

    // Prevents it from stretching to fill the space
    align-self: center;
  }

  &__content {

    p {
      max-width: 30ch;

    }
  }

  &__summary {

    padding-top: get-size('900');
    grid-column-start: 2;
    grid-column-end: 3;
    border:1px solid red;
  }

  &__heading {

    padding-top: get-size('900');
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    h2 {
      font-style: normal;
      display: block;

      // The weight change creates a weird indent, so this
      // optical adjustment fixes it
      transform: translateX(-3px);
    }
  }

  // Switch to an inline layout with some vert space
  // above the header and content
  /*@include media-query('md') {
  //  grid-template-rows: get-size('500') auto auto auto;
  //  grid-template-columns: minmax(15rem, 1fr) 2fr;

    &__header {
      padding: get-size('500');
      margin: 0;
      grid-column: 1/2;
      justify-self: start;
      align-self: end;
    }

    &__media {
      grid-column: 2/3;
      grid-row: 1/5;
    }

    &__content {
      grid-row: 3/4;
      grid-column: 1;
    }
  }*/

}
