.intro {
  // Default is a single column layout where the header overlaps the media
  height: 400px;
  display: grid;
  grid-template-columns: .25fr 1.35fr 2fr .25fr;
  grid-template-rows: 2fr .5fr 1fr;
  grid-column-gap: get-size('800');
  //padding-top: get-size('900');
  // padding-bottom: get-size('900');
  align-items: end;
  // Force items to span 1 column
  > * {
    grid-column: 1;
  }

  //this applies to nothing now
  &__header {
    padding: get-size('300') get-size('500');
    background: rgba(get-color('tertiary'), 0.95);
    margin: 0 get-size('500'); // Adds a horizontal gutter

    // Prevents it from stretching to fill the space
    align-self: center;
  }

  p {
  //  max-width: 30ch;

  }

  &__heading {
    grid-column-start: 2;
    padding-bottom:5px;

    h2 {
      line-height: 3.5rem;
      font-size: get-size('800');

    }
  }

  &__summary {
    grid-column-start: 3;
    grid-column-end: 4;
    }
  }

  &__cta {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top:get-size('300');

    .button {
      width: 60%;
      margin-right: 0;
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top: get-size('400');
  }

  // Switch to an inline layout with some vert space
  // above the header and content
  /*@include media-query('md') {
  //  grid-template-rows: get-size('500') auto auto auto;
  //  grid-template-columns: minmax(15rem, 1fr) 2fr;

    &__header {
      padding: get-size('500');
      margin: 0;
      grid-column: 1/2;
      justify-self: start;
      align-self: end;
    }

    &__media {
      grid-column: 2/3;
      grid-row: 1/5;
    }

    &__content {
      grid-row: 3/4;
      grid-column: 1;
    }
  }*/

}
