@import 'uswds.min.css';

$color-body: #1a1a1a;
$color-dark-blue: rgba(#020050, .75);
$color-white: #ffffff;

html, body {
  padding:0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-body;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
  }

  nav {
    color: $color-white;
    font-weight: 700;

    ul {
      display:flex;
      padding-left: 0;

      li {
        text-align: center;
        flex-grow: 1;
        display: inline-block;
        list-style: none;

        a {
          text-decoration: none;
          color: $color-white;

          &:hover {
            border-bottom: 5px solid $color-white;
            color: $color-white;
          }

          &:visited {
            color: $color-white;
          }
        }
      }
    }
  }

}

hr {
	border-top: 1px dashed #73b3e7;
  border-bottom: 0;
  width: 85%;
  //margin: 0 auto;
}

// "desktop"
@media only screen and (min-width: 1024px) {

  body {

    main {
    //  border: 1px solid red;
    }
  }

}

// extra large whoa
@media only screen and (min-width: 2048px) {
  body {
    main {
      width: 65%;
    }
  }
}
