$color-body: #1a1a1a;
$color-dark-blue: rgba(#020050, .75);
$color-white: #ffffff;

html, body {
  padding:0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; // 1 em
  color: $color-body;

  h1, h2, h3, h4, h5, h6 {
      font-family: 'Merriweather', serif;
  }

  header {
    text-align: center;
    padding-top: 2em;

    hgroup {
      h1, h2 {
        margin-bottom:0;
      }
      h2, h3 {
        margin-top:.5em;
      }
      h2 {
        font-weight: 400;
        font-size: 1.25em;
      }
    }
  }

  nav {

    background-color: $color-dark-blue;
    color: $color-white;
    margin-top: 1em;
    padding-top: .1em;
    padding-bottom: .1em;
    font-weight: 700;

    ul {
      display:flex;
      padding-left: 0;

      li {
        text-align: center;
        flex-grow: 1;
        display: inline-block;
        list-style: none;

        a {
          text-decoration: none;
          color: $color-white;

          &:hover {
            border-bottom: 5px solid $color-white;
            color: $color-white;
          }

          &:visited {
            color: $color-white;
          }
        }
      }
    }
  }

  main {
    width: 90%;
    margin: 0 auto;

    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: .95em;
    }
  }

  footer {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    font-size: .75em;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// "desktop"
@media only screen and (min-width: 1024px) {

  body {

    nav {
      ul {
        width: 75%;
        margin: 0 auto;
        padding-top: 1em;
        padding-bottom: 1em;

      }
    }

    main {
      width: 75%;
      border: 1px solid red;
    }
  }

}

// extra large whoa
@media only screen and (min-width: 2048px) {
  body {
    main {
      width: 65%;
    }
  }
}
